# Ignore what is considered Python local cache and local env data
/**/__pycache__
/**/.venv

# Ignore the files inside Raw, Processed, Archive and Tickets
# Only keep the base folder structure and example files
/DataETL/storage/*
/DataETL/tickets/*.json


# Ignore what is considered Java local cache and local env data
/**/.gradle
/**/.idea
/DataServer/build

### VS Code ###
/**/.vscode/

### Mac OS ###
/**/.DS_Store
